*.exe
*.gif
*.xml
*.html
*.htm
*.css
*.psd
*.db
*.png
*.js
*.dll
*.jpg
*.ico
*.zip
*.rar
*.csv
*.pspimage
*.lnk
*.7z
*.doc
*.zip
*.log
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep           
*.iex
*.htm
*.sct
*.hex
*.map
*.dep
*.Wangjun
*.uvoptx
*.pid
*.csv
*.txt
*.so
bak